---
import BlogPost from "../../layouts/BlogPost.astro";
import { PostService, type Post } from "../../services/PostsService";

export async function getStaticPaths() {
  const posts = await PostService.getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = Post

const post = Astro.props;
---

<BlogPost {...post}>
    <div>
        <div set:html={post.content}></div>
    </div>
</BlogPost>
