---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import EtherpediaLogo from "../../content/logo.png";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Image } from "astro:assets";
import Search from "astro-pagefind/components/Search";
import PostList from "../../components/PostList.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="flex flex-col min-h-screen dark dark:bg-zinc-900 dark:text-white"
  >
    <Header />

    <section class="p-8 max-w-screen-md mx-auto">
      <Search
        id="search"
        className="pagefind-ui"
        uiOptions={{ showImages: false }}
      />

      <div id="results"></div>
    </section>

    <section class="mt-8 p-8">
      <label class="text-2xl font-bold">Releases</label>
      <PostList />
    </section>

    <Footer />
  </body>
</html>
