---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import EtherpediaLogo from "../content/logo.png";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import Search from "astro-pagefind/components/Search";
import PostList from "../components/PostList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="flex flex-col min-h-screen dark dark:bg-zinc-900 dark:text-white"
  >
    <Header />
    <main class="">
      <Image
        src={EtherpediaLogo}
        alt="Etherpedia"
        class="mx-auto mt-8 max-w-72"
      />
      <section class="p-8 max-w-screen-sm mx-auto">
        <Search
          id="search"
          className="pagefind-ui"
          uiOptions={{ showImages: false }}
        />

        <div id="results"></div>
      </section>
      <section class="p-8 bg-zinc-800">
        <div class="max-w-screen-xl mx-auto">
          <div class="max-w-screen-sm">
            <h2 class="text-4xl font-semibold mb-4">
              Learn all about Ethereum here!
            </h2>
            <p class="text-xl">
              A free online encyclopedia and resource for all people learning
              about blockchain technology and Ethereum, created and edited by
              writers everywhere.
            </p>
          </div>
        </div>
      </section>

      <section class="mt-8 p-8 max-w-screen-xl mx-auto">
        <label class="text-2xl font-bold">Latest releases</label>
        <PostList showMax={6} />
        <a
          class="px-4 py-2 dark:bg-zinc-800 bg-zinc-100 rounded mt-4 inline-block"
          href="/posts">See all releases</a
        >
      </section>
    </main>
    <footer class="mt-auto text-center p-4">
      All content on this website is licensed under CC0 unless otherwise
      specified.
    </footer>
  </body>
</html>
